@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');

body {
  margin: 0;
  font-family: 'Nunito', 'Tahoma', 'Open-Sans', 'Verdana', sans-serif;
}

.navigation {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 14.06%, rgba(255, 255, 255, 0.8) 85.42%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(55.5px);
  position: relative;
  min-height: 83px;
}

.menu {
  margin-left: 64px;
}

.navbar-toggler:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem;
}

.navbar-toggler {
  transition: box-shadow 0.15s ease-in-out;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.55);
}

.navbar-nav {
  margin-right: auto;
}

.first-heading {
  margin-top: 144px;
  background: linear-gradient(112.77deg, #C381DB 0%, #4E92F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 700;
  font-size: 51px;
  line-height: 70px;
  margin-bottom: 0;
}

.second-heading {
  color: #485466;
  font-size: 40px;
  line-height: 55px;
  white-space: nowrap;
  margin-bottom: 0;
}

.second-heading-normal {
  font-weight: 400;
}

.second-heading-bold {
  font-weight: 700;
}

.heading-content {
  margin-top: 13px;
  margin-bottom: 0;
}

.illustration-full {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.btn-log-in,
.btn-sign-up {
  font-weight: 700;
  text-decoration: none;
  padding: 7px 16px;
}

.btn-log-in {
  margin-right: 16px;
  color: #4E92F9;
}

.btn-sign-up {
  margin-right: 0;
  box-shadow: 0px 7px 20px rgba(49, 69, 255, 0.13);
  border-radius: 8px;
  background: linear-gradient(112.77deg, #C381DB 0%, #4E92F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.btn-check-demo {
  text-decoration: none;
  background: linear-gradient(112.77deg, #C381DB 0%, #4E92F9 100%);
  border-radius: 8px;
  padding: 7px 16px;
  font-weight: 700;
  color: #FFFFFF;
  margin-top: 56px;
  border-width: 0;
  outline: none;
}

.btn-check-demo::before {
  content: "";
  background: linear-gradient(112.77deg, #C381DB 0%, #4E92F9 100%);
  position: absolute;
  width: 108px;
  height: 46px;
  z-index: -1;
  filter: blur(12px);
  opacity: 0.5;
  margin-left: -7px;
  border-radius: 7px;
}

.content {
  padding-bottom: 20px;
}

@media screen and (max-width: 1600px) {
  .first-heading {
    margin-top: 0;
  }
}

@media screen and (max-width: 1200px) {

  .illustration {
    width: 1050px;
    height: 596px;
  }

  .menu {
    margin-left: 0;
  }

  .navigation {
    background-color: white;
  }

  .btn-check-demo {
    margin-top: 40px;
  }
}

@media screen and (max-width: 992px) {
  .nav-buttons {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 500px) {

  .first-heading {
    font-size: 40px;
  }

  .second-heading {
    font-size: 30px;
  }
}

@media screen and (max-width: 400px) {

  .first-heading {
    font-size: 32px;
  }

  .second-heading {
    font-size: 25px;
  }
}

@media screen and (max-width: 992px) {
  .illustration-full {
    display: none;
  }

  .content {
    text-align: center;
  }
}

@media screen and (min-width: 992px) {

  .illustration-small {
    display: none;
  }
}
